
.App {
  margin: auto;

}


.title{
  margin-top: 2vmax;
  margin-left: 10vmax;
  width: 15vw;
  height: 15vh;
}


.navbar{
  display: flex;
  height: 14vmax;

  
  
  list-style: none;
  
}

.category{
  font-size: 15px;  
  display: flex;
  gap: 5vmax;
  margin-top: 7vmax;
  margin-left: 18vmax;
  
}


.category > li > :only-child{
  color: black;
  opacity: 0.7;
  text-decoration: none;
}

.home-container{
  margin-top: 10vh;
  display: flex;
}

.storeNumb{
  font-weight:500;
  font-size: large;
  margin-left: 1vw;
}


.status{
  margin-bottom: -10vh;
  font-size:xx-large;
  font-weight: 200;
  color: black;
  margin-left: 10vmax;
  height: 10vh;
  width: 15vw;
}




.home-container > img{
  height: 60vh;
  margin: auto;
  margin-top: -5vmax;
  
}

#scheduleBox{
  font-size: medium;
  border: solid black 1px;
  height: 3vh;
  width: 0.6vw;
  margin-left: 13.5vw;
  margin-top: -14vh;
}

.schedule{
  margin-top: -10vh;
  margin-left: 3vw;
  font-weight: 200;
  font-size: medium;
  list-style:none;
  border-radius: 10%;
  width: 10vw;
}

.schedule > p > li{
  font-size: x-large;
  border: 1px solid gray;

}
